* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #C19A6B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    background-color: #5A3E2B;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
}

.menu ul li {
    display : inline-block;
    margin-right: 90px;
    font-size: large;
}

.menu ul li a {
    text-decoration: none;
    color: #FFF6E5;
}

.menu ul li {
    font-weight: bold;
    text-transform: uppercase;
}

h1, h3 {
    padding-left: 15px;
}

img {
    height: 190px;
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.content {
    padding: 15px;
    margin-top: 30px;
    border-radius: 30px;
    height: 300px;
    color: #5A3E2B;
    background-color: bisque;
}

.img-1 {
    height: 190px;
    width: 160px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
}

.links {
    margin-top: 20px;
    padding-left: 15px;
    text-align: center;
    border-radius: 30px;
}

.links ul li {
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block;
    
}

.links ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 12px;
    margin-right: 30px;
}

.heading {
    padding: 15px;
    margin-top: 20px;
    border-radius: 30px;
    color: #5A3E2B;
    background-color: bisque;
}

.learn {
    padding-left: 15px;
    margin-top: 20px;
    border-radius: 30px;
    color: #5A3E2B;
    background-color: bisque;
}

.learn ul li {
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block;
}

.learn ul li a {
    text-decoration: none;
    color: #5A3E2B;
    padding: 8px 12px;
    margin-right: 30px;
    font-size: larger;
    font-weight: bold;
}

.read-list {
    padding-left: 15px;
    margin-top: 20px;
    border-radius: 30px;
    color: #5A3E2B;
    background-color: bisque;
    height: 200px;
    h2 {
        margin-bottom: 30px;
    }
}

.read-list ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.read-list ul li a {
    text-decoration: none;
    color: #5A3E2B;
    padding: 8px 12px;
    margin-right: 30px;
    font-size: larger;
    font-weight: bold;
}

.listen-list {
    padding-left: 15px;
    margin-top: 20px;
    border-radius: 30px;
    color: #5A3E2B;
    background-color: bisque;
    height: 200px;
    h2 {
        margin-bottom: 30px;
    }
}

.listen-list ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.listen-list ul li a {
    text-decoration: none;
    color: #5A3E2B;
    padding: 8px 12px;
    margin-right: 30px;
    font-size: larger;
    font-weight: bold;
}

.watch-list {
    padding-left: 15px;
    margin-top: 20px;
    border-radius: 30px;
    color: #5A3E2B;
    background-color: bisque;
    height: 200px;
    h2 {
        margin-bottom: 30px;
    }
}

.watch-list ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.watch-list ul li a {
    text-decoration: none;
    color: #5A3E2B;
    padding: 8px 12px;
    margin-right: 30px;
    font-size: larger;
    font-weight: bold;
}

.log-in h2 {
    text-align: center;
    color: #5A3E2B;
    font-size: 24px;
}

.log-in input[type="text"], .log-in input[type="password"] {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    align-items: center;
    border-radius: 30px;
    border: 2px solid #5A3E2B;
}  

.log-in button {
    display: block;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    background-color: #5A3E2B;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.log-in p {
    text-align: center;
}